* {
  box-sizing: border-box;
}

.loginMain {
  width: 100%;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #100f1f;
}

.loginHeader {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.appTitle {
  color: var(--text-color);
  font-size: 30px;
}

.appDesc {
  color: #686874;
  font-size: 0.8rem;
}

.middleChild {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginBtn {
  height: 50px;
  width: 150px;
  background: var(--red);
  color: var(--text-color);
  font-size: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpBtn {
  height: 50px;
  width: 150px;
  background: var(--text-color);
  color: #100f1f;
  font-size: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImg {
  height: 160px;
  width: 300px;
  border-radius: 25px;
  margin-bottom: 20px;
}
